target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

logs


### 业务自定义 ###
nacos-data
multimedia/Dockerfile-backup

static/nacos/
static/mysql-backup/

volume/mysql/data
volume/minio/has/data
volume/minio/multimedia/data