<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xiaolin.auth.domain.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="cn.xiaolin.auth.domain.entity.SysUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="admission" column="admission" jdbcType="TINYINT"/>
            <result property="revision" column="revision" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createdByUserId" column="created_by_user_id" jdbcType="BIGINT"/>
            <result property="updatedByUserId" column="updated_by_user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,email,
        phone,password,admission,
        revision,deleted,create_time,
        update_time,created_by_user_id,updated_by_user_id
    </sql>
    <select id="listUsersByRoleId" resultType="cn.xiaolin.auth.domain.entity.SysUser">
        select u.id, u.username, u.email, u.phone, u.password, u.admission
        from dev_auth.sys_user u
        join dev_auth.sys_user_role ur on u.id = ur.sys_user_id
        where ur.sys_role_id = ${role_id}
    </select>

    <select id="listUsersByPermId" resultType="cn.xiaolin.auth.domain.entity.SysUser">
        select u.id, u.username, u.email, u.phone, u.password, u.admission
        from dev_auth.sys_user u
        join dev_auth.sys_user_permission up on u.id = up.sys_user_id
        where up.sys_permission_id = ${perm_id}
    </select>

    <select id="listUsersWithRoleByPermId" resultType="cn.xiaolin.auth.domain.entity.SysUser">
        select u.id, u.username, u.email, u.phone, u.password, u.admission
        from dev_auth.sys_user u
        join dev_auth.sys_user_permission up on u.id = up.sys_user_id
        join dev_auth.sys_user_role ur on u.id = ur.sys_user_id
        join dev_auth.sys_role_permission rp on ur.sys_role_id = rp.sys_role_id
        where up.sys_permission_id = ${perm_id}
    </select>

    <!--字符串应该使用引号标注，否则会触发sql异常-->
    <select id="getUserByUsername" resultType="cn.xiaolin.auth.domain.entity.SysUser">
        select id, username, email, phone, password, admission
        from dev_auth.sys_user
        where username = '${username}'
    </select>
</mapper>
