<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xiaolin.core.domain.mapper.VideoMakerMapper">

    <resultMap id="BaseResultMap" type="cn.xiaolin.core.domain.entity.VideoMaker">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="constellation" column="constellation" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="photoPath" column="photo_path" jdbcType="VARCHAR"/>
            <result property="isActor" column="is_actor" jdbcType="TINYINT"/>
            <result property="isScripter" column="is_scripter" jdbcType="TINYINT"/>
            <result property="isDirector" column="is_director" jdbcType="TINYINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="revision" column="revision" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createdByUserId" column="created_by_user_id" jdbcType="BIGINT"/>
            <result property="updatedByUserId" column="updated_by_user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        constellation,icon,birthday,
        introduction,photo_path,is_actor,
        is_scripter,is_director,deleted,
        revision,create_time,update_time,
        created_by_user_id,updated_by_user_id
    </sql>
</mapper>
